/* Navbar */
nav {
  display: flex;
  align-items: center;
  width: 94%;
  padding: 0.25rem 0;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 3%;
  right: 3%;
  z-index: 20;
  background-color: white;
}
nav button {
  border: none;
  background-color: transparent;
}
.nav-link {
  text-decoration: none;
  color: var(--secondary-color);
}

/* logo-container */

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-icon {
  max-width: 1.8rem;
  margin: 0 0.25rem;
}
.logo-name {
  font-size: 1.2rem;
  font-weight: 600;
}

/* nav-btn-container */
.nav-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  position: relative;
}
.nav-btn .nav-btn-qty {
  position: absolute;
  top: 4px;
  right: 0;
  background-color: var(--tertiary-color);
  border-radius: 100%;
  color: white;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 10px;
  padding: 3px;
  line-height: 1;
}

.nav-btn:hover {
  background-color: var(--background-color);
  color: var(--tertiary-color);
  border-radius: 100%;
}

.nav-btn-icon {
  font-size: 1.3rem;
}
.nav-btn span {
  font-size: 1rem;
  margin: 0 0.2rem;
  font-weight: 400;
}

/* search-container */
.search-container {
  display: none;
  width: 100%;
  background-color: white;
}
.search-visible {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.search-icon {
  position: absolute;
  left: 1.4rem;
  font-size: 1.2rem;
}
.search-container input {
  width: 100%;
  border: 1px solid rgb(184, 187, 190);
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 1rem;
  padding-left: 1.75rem;
  background: var(--background-color);
}
.search-container input:focus {
  outline: none;
}
.close-icon {
  font-size: 1.1rem;
}
.search-container button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  nav {
    padding: 0.5rem 0;
  }

  .nav-btn {
    margin: 0 0.5rem;
  }
  .search-container {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .search-icon {
    position: relative;
    left: 1.75rem;
  }
  .close-icon {
    display: none;
  }
  .nav-btn-container .nav-btn:first-child {
    display: none;
  }
  .search-container input {
    width: 380px;
    padding-left: 2rem;
  }
}
