.order-address-container {
  border: 1px solid var(--text-tertiary-color);
  padding: 0.75rem;
  border-radius: 0.5rem;
  text-align: center;
}
.order-address-heading {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  color: var(--secondary-color);
  text-align: center;
}
.order-address-card {
  border: 1px dashed var(--tertiary-color);
  border-radius: 0.5rem;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
  margin: 1rem 0;
  text-align: left;
}
.order-address-card input {
  margin-top: 0.3rem;
  display: block;
}
.order-address-card label {
  display: block;
  width: 100%;
}
.order-address-card label p {
  display: block;
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 400;
  color: var(--secondary-color);
}
.order-adress-btn {
  cursor: pointer;
  font-size: 0.9rem;
  line-height: 1;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  padding: 0.6rem 2.5rem;
  border-radius: 0.5rem;
}
.order-address-empty {
  margin: 1.5rem 0;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1;
  color: var(--secondary-color);
}
@media (min-width: 768px) {
  .order-address-container {
    padding: 1.2rem;
  }
  .order-address-heading {
    font-size: 1.1rem;
  }
  .order-address-card {
    margin: 2rem 0;
  }

  .order-adress-btn {
    padding: 0.75rem 3rem;
  }
}
