.wishlist-product-card {
  border: 1px solid var(--text-tertiary-color);
  width: 300px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}
.wishlist-product-card:hover {
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.wishlist-product-img {
  position: relative;
}
.wishlist-product-best-seller {
  position: absolute;
  padding: 0.2rem 1rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 0.9rem;
  border-radius: 0.75rem;
}
.wishlist-product-img img {
  width: 100%;
  height: 200px;
  padding: 0.5em 0;
  object-fit: contain;
  display: block;
  background-color: white;
}

.wishlist-product-body {
  padding: 0.5rem;
}
.wishlist-product-brand-review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0;
  font-size: 0.9rem;
}
.wishlist-product-brand {
  font-weight: 200;
  text-transform: uppercase;
  color: #64748b;
}
.wishlist-product-review {
  color: #64748b;
}
.wishlist-product-name {
  font-size: 1rem;
  line-height: 1.5;
  height: 3rem;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit the content to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wishlist-product-price {
  font-size: 0.9rem;
  padding: 0.25rem 0;
  color: #64748b;
}

.wishlist-product-remove-btn {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: var(--background-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 0.4rem 0;
  border-radius: 2.5rem;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}
.wishlist-product-remove-btn p,
.wishlist-product-cart-btn p {
  gap: 0.5rem;
}
.wishlist-product-icon {
  color: var(--primary-color);
}
.wishlist-product-icon,
.wishlist-cart-icon {
  font-size: 1.2rem;
}
.wishlist-product-cart-btn {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  padding: 0.4rem 0;
  border-radius: 2.5rem;
  font-size: 0.9rem;
  margin: 0.5rem 0 0 0;
}
.wishlist-product-remove-disabled {
  background-color: #d1d7dc;
}
.wishlist-cart-disabled {
  background-color: #7d8896;
}
@media (min-width: 768px) {
  .wishlist-product-card {
    border-radius: 1rem;
  }
  .wishlist-product-best-seller {
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
  }

  .wishlist-product-img img {
    height: 250px;
    padding: 1rem 0;
  }

  .wishlist-product-brand-review {
    padding: 0.5rem 0;
  }

  .wishlist-product-price {
    padding: 0.5rem 0;
  }

  .wishlist-product-remove-btn {
    padding: 0.6rem 0;
    margin: 0 0 0.5rem 0;
  }

  .wishlist-product-cart-btn {
    padding: 0.6rem 0;
    margin: 0;
  }
}
