.single-product-container {
  width: 94%;
  margin: 0 auto;
  margin-top: 3.1rem;
  padding: 1rem;
}
.single-product-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-product-img img {
  height: 100%;
  width: 250px;
  padding: 1rem;
  object-fit: contain;
  display: block;
}
.single-product-best-seller {
  font-size: 0.8rem;
  background-color: var(--primary-color);
  color: white;
  text-transform: uppercase;
  padding: 0.25rem 1rem;
  margin: 1rem 0;
  width: fit-content;
  font-weight: 400;
  border-radius: 2.5rem;
}

.single-product-body h1 {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0.5rem 0;
  color: var(--secondary-color);
}
.single-product-description {
  margin-bottom: 0.5rem;
}
.single-product-description p:first-child {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--secondary-color);
  margin-bottom: 0.25rem;
}
.single-product-description p:last-child {
  font-size: 0.8rem;
  font-weight: 400;
  color: #64748b;
}
.single-product-body > p {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.single-product-body > p span {
  color: #64748b;
  font-weight: 400;
}
.single-product-price-review {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0.5rem 0;
  overflow: hidden;
}
.single-product-price-review p {
  margin-right: 0.5rem;
}
.single-product-price {
  padding: 0.5rem 0;
  color: #22c55e;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1;
}
.single-product-price-review span {
  display: block;
  width: 1px;
  height: 1rem;
  background-color: #acaeb0;
}
.single-product-review {
  font-size: 0.8rem;
  color: #64748b;
}
.single-product-benfits {
  margin: 0.75rem 0;
}
.single-product-benfits > p {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: #64748b;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.single-product-benfits .tag-icon {
  font-size: 1rem;
  margin-right: 0.4rem;
}
.single-product-body-line {
  border: none;
  height: 1px;
  background-color: #adb0b47a;
  margin: 0.5rem 0;
}
.single-product-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.single-product-cart-btn {
  border: none;
  font-size: 0.8rem;
  padding: 0.75rem 2.5rem;
  border-radius: 2rem;
  width: 100%;
  background-color: var(--secondary-color);
  margin-top: 1rem;
  color: var(--background-color);
}
.single-product-wishlist-btn {
  border: none;
  font-size: 0.8rem;
  padding: 0.75rem 2.5rem;
  width: 100%;
  border-radius: 2rem;
  background-color: var(--background-color);
  margin-top: 1rem;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.single-product-wishlist-btn .single-product-btn {
  color: var(--primary-color);
}
.single-product-btn {
  font-size: 1rem;
  margin-right: 0.25rem;
}
.cart-disabled {
  background-color: #7d8896;
}
.wishlist-disabled {
  background-color: #d1d7dc;
}
@media (min-width: 768px) {
  .single-product-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3.6rem;
  }
  .single-product-img {
    flex-basis: 30%;
    padding: 1.5rem;
  }

  .single-product-img img {
    width: 100%;
  }

  .single-product-body {
    padding: 2rem;
    align-self: flex-start;
    flex-basis: 70%;
  }
  .single-product-best-seller {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0;
  }
  .single-product-body h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .single-product-description p:first-child {
    font-size: 1rem;
  }
  .single-product-description p:last-child {
    font-size: 1rem;
  }
  .single-product-body > p {
    font-size: 1rem;
  }

  .single-product-price-review {
    padding: 0 0 1rem 0;
  }
  .single-product-price-review p {
    margin-right: 1rem;
  }
  .single-product-price {
    font-size: 1.4rem;
  }
  .single-product-price-review span {
    height: 1.4rem;
  }
  .single-product-review {
    font-size: 0.9rem;
  }

  .single-product-benfits > p {
    font-size: 1rem;
  }
  .single-product-benfits .tag-icon {
    font-size: 1.3rem;
  }

  .single-product-btn {
    display: flex;
    flex-direction: row;
    gap: 0 2rem;
  }
  .single-product-cart-btn {
    font-size: 1rem;
    padding: 1rem 3.5rem;
    width: 250px;
    margin-top: 0.5rem;
  }
  .single-product-wishlist-btn {
    font-size: 1rem;
    padding: 1rem 2.5rem;
    width: 250px;
    margin-top: 0.5rem;
  }

  .single-product-btn {
    font-size: 1.3rem;
  }
}
