.user-address-container {
  padding: 0.5rem;
}
.user-address-add-btn {
  cursor: pointer;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  line-height: 1rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}
@media (min-width: 768px) {
  .user-address-container {
    padding: 1rem;
  }
  .user-address-add-btn {
    padding: 0.75rem 2.5rem;
    margin-top: 1rem;
  }
}
