@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #f02177;
  --secondary-color: #0f172a;
  --tertiary-color: #38b5ec;
  --text-primary-color: #000000;
  --text-secondary-color: #738296;
  --text-tertiary-color: #c8cdd6;
  --background-color: #f1f5f9;
  --green-primary: #118668;
  --green-secondary: #e7f3f0;
  --green-tertiary-color: #e0ebe8;
  --mobile-title: 2rem;
  --mobile-subtitle: 1.5rem;
  --mobile-paragraph: 1rem;
  --tablet-title: 2.5rem;
  --tablet-subtitle: 1.75rem;
  --tablet-paragraph: 1.125rem;
  --laptop-title: 3rem;
  --laptop-subtitle: 2rem;
  --laptop-paragraph: 1.25rem;
}
.App {
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color);
}
