.coupon-model-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #14151772;
  z-index: 50;
}
.coupon-model-container {
  background-color: white;
  width: 300px;
  margin: 60% auto;
  padding: 0.75rem;
  border-radius: 0.5rem;
}
.coupon-model-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-tertiary-color);
  padding-bottom: 0.5rem;
}
.coupon-model-head p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
}
.coupon-model-head button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coupon-model-close {
  font-size: 1.3rem;
  color: var(--primary-color);
}
.coupon-model-body {
  padding: 0.5rem 0;
}
.coupon-box {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0;
}
.coupon-box label {
  font-size: 1rem;
  color: var(--secondary-color);
  opacity: 0.9;
}
.coupon-submit-btn button {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: var(--secondary-color);
  padding: 0.75rem 0;
  color: white;
  font-size: 0.9rem;
  line-height: 1;
  border-radius: 0.5rem;
}
@media (min-width: 768px) {
  .coupon-model-container {
    width: 350px;
    margin: 10% auto;
  }
}
