.checkout-price-container {
  border: 1px solid var(--text-tertiary-color);
  padding: 0.75rem;
  border-radius: 0.5rem;
  text-align: center;
}
.checkout-price-box-container {
  margin-bottom: 0.75rem;
  border-bottom: 1px dashed var(--primary-color);
  text-align: left;
}
.checkout-price-box-container h3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  color: var(--primary-color);
  text-align: center;
}
.checkout-price-box {
  margin: 0.5rem 0;
}
.checkout-price-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.6rem 0;
}
.checkout-price-row p {
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
}
.checkout-price-row p:first-of-type {
  flex-basis: 70%;
}
.checkout-price-row p:last-of-type {
  flex-basis: 25%;
  text-align: right;
}

.checkout-price-row-title p {
  font-weight: 700;
}
.checkout-price-total p {
  font-size: 1rem;
  font-weight: 600;
}
.checkout-price-address {
  padding: 0.5rem 0;
}
.checkout-price-address p {
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
}
.coupon-card p {
  background-color: var(--background-color);
  border: 1px dashed var(--primary-color);
  font-size: 0.8rem;
  padding: 0.25rem 0.75rem;
  color: var(--primary-color);
}
.checkout-coupon-icon {
  font-size: 1.1rem;
  margin-right: 0.25rem;
}
.checkout-price-btn {
  cursor: pointer;
  font-size: 0.9rem;
  line-height: 1;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  padding: 0.6rem 5rem;
  border-radius: 0.5rem;
}
.checkout-price-btn:disabled {
  opacity: 0.4;
  cursor: no-drop;
}
@media (min-width: 768px) {
  .checkout-price-container {
    padding: 1.2rem;
  }
  .checkout-price-box-container {
    margin-bottom: 1rem;
  }
  .checkout-price-box-container h3 {
    font-size: 1.1rem;
  }
  .checkout-price-box {
    margin: 1rem 0;
  }
  .checkout-price-row {
    padding: 0.5rem 0;
  }

  .checkout-price-row p:first-of-type {
    flex-basis: 60%;
  }
  .checkout-price-row p:last-of-type {
    flex-basis: 20%;
  }

  .checkout-price-total p {
    font-size: 1.1rem;
  }

  .coupon-card p {
    font-size: 1rem;
  }
  .checkout-coupon-icon {
    font-size: 1.3rem;
  }
  .checkout-price-btn {
    padding: 0.75rem 5rem;
  }
}
